AndroidWrapperProject/.gradle
AndroidWrapperProject/app/build
AndroidWrapperProject/build
BranchUnityTestBed/Library
BranchUnityTestBed/Temp
BranchUnityTestBed/Build?
UnityConnectSettings.asset
ClusterInputManager.asset
